@font-face {
  font-family: 'mposter';
  src: url("font/mposter-webfont.svg") format("svg");
  src: url("font/mposter-webfont.eot");
  src: local(":D"), url("font/mposter-webfont.woff") format("woff"), url("font/mposter-webfont.ttf") format("true type");
}

/*-----------------GRIND--------------------*/
#container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'header header' 'parallax parallax' 'main main' 'focus focus' 'parallax-2 parallax-2' 'footer footer';
  -ms-grid-rows: auto auto 700px 700px;
      grid-template-rows: auto auto 700px 700px;
}

#header {
  background: -webkit-gradient(linear, left top, right top, from(red), color-stop(20%, aqua), color-stop(40%, green), color-stop(60%, purple), color-stop(80%, orange), to(lightblue));
  background: linear-gradient(to right, red 0%, aqua 20%, green 40%, purple 60%, orange 80%, lightblue 100%);
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0px;
  -webkit-transition: 500ms;
  transition: 500ms;
  z-index: 5;
  -webkit-box-shadow: 0px 3px 4px black;
          box-shadow: 0px 3px 4px black;
}

#main {
  background: lightgray;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0px -3px 3px black;
          box-shadow: 0px -3px 3px black;
}

.parallax {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: parallax;
  background-color: grey;
  background-image: url(imm/cover-1.jpg);
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.focus {
  background: #554d55;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: focus;
}

.parallax-2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: parallax-2;
  background-color: grey;
  background-image: url(imm/cover-2.jpg);
  min-height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer {
  background: yellow;
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
}

/*-----------------END GRIND-----------------*/
.box {
  border: 1px solid black;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.box-1 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  background: radial-gradient(lightblue 30%, grey 100%);
}

.box-2 {
  background: -webkit-gradient(linear, left top, right top, color-stop(-50%, black), to(grey));
  background: linear-gradient(to right, black -50%, grey 100%);
}

#clock {
  -webkit-transform-origin: 16.2px 308px;
          transform-origin: 16.2px 308px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  -webkit-transition: 500ms;
  transition: 500ms;
}

.svg-item-1:hover {
  y: 5;
  -webkit-filter: none;
          filter: none;
}

.svg-item-2:hover {
  y: 65;
  -webkit-filter: none;
          filter: none;
}

.svg-item-3:hover {
  y: 230;
  -webkit-filter: none;
          filter: none;
}

.svg-item-4:hover {
  y: 395;
  -webkit-filter: none;
          filter: none;
}

.svg-item-5:hover {
  y: 470;
  -webkit-filter: none;
          filter: none;
}

.content {
  border: 1px solid white;
  width: 500px;
  height: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 35%;
  padding: 80px;
  color: white;
}

.logo-gshock {
  font-size: 13em;
  font-family: mposter,  arial;
  stroke-width: 1px;
  stroke: black;
  -webkit-filter: url(#logo-shadow);
          filter: url(#logo-shadow);
}

.justify {
  text-align: justify;
}

.justify-title {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */