@font-face {
    font-family: 'mposter';
    src: url('font/mposter-webfont.svg') format('svg');
    src: url('font/mposter-webfont.eot');
    src: local(':D'),
    url('font/mposter-webfont.woff') format('woff'),
    url('font/mposter-webfont.ttf') format('true type'); 
}

/*-----------------GRIND--------------------*/
#container{
    display: grid;
    grid-template-areas: 'header header'
                         'parallax parallax'
                         'main main'
                         'focus focus'
                         'parallax-2 parallax-2'
                         'footer footer';
    grid-template-rows: auto auto 700px 700px; 
}
#header{
    background: linear-gradient(to right,red 0% , aqua 20%, green 40% ,purple 60% , orange 80% , lightblue 100% );
    grid-area: header;
    height: 100px;
    width: 100%; 
    position: fixed;
    top: 0px;
    transition: 500ms;
    z-index: 5;
    box-shadow: 0px 3px 4px black;
    
}
#main{
    background: lightgray;
    grid-area: main;
    display: flex;
}
.parallax{
    grid-area: parallax;
    background-color: grey; 
    background-image: url(imm/cover-1.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.focus{
    background: rgb(85, 77, 85);
    grid-area: focus;
}
.parallax-2{
    grid-area: parallax-2;
    background-color: grey; 
    background-image: url(imm/cover-2.jpg);
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#footer{
    background: yellow;
    grid-area: footer; 
}
/*-----------------END GRIND-----------------*/
.box{
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 100%;
}
.box-1{
    display: grid;
    justify-content: start;
    background: radial-gradient(lightblue 30% , grey 100%);
}

#clock{
    transform-origin: 16.2px 308px;
    transform: rotate(-40deg);
    transition: 500ms;
    
}
.svg-item-1:hover{
    y: 5;
    filter: none;
}
.svg-item-2:hover{
    y: 65;
    filter: none;
}
.svg-item-3:hover{
    y: 230;
    filter: none;
}
.svg-item-4:hover{
    y: 395;
    filter: none;
}
.svg-item-5:hover{
    y: 470;
    filter: none;
}

.content{
    border: 1px solid black;
    width: 500px;
    height: 500px;
    overflow: hidden;
    position: relative ;
}

.logo-gshock{
    font-size: 13em;
    font-family: mposter,  arial;
    stroke-width: 1px;
    stroke: black;
    filter: url(#logo-shadow);
}

.radial-gradient-box-1{
    width: 150px;
    height: 150px;
    background: radial-gradient(lightblue 20% , transparent 100%);
    position: absolute;
    bottom: -200px;
    left: 100px;
    
    
   
}
   
 
 