#container{
    display: grid;
    grid-template-areas: 'header header'
                         'main main'
                         'footer footer';
}
#header{
    background: blue;
    grid-area: header; 
}
#main{
    background: green;
    grid-area: main;
    display: flex;
}
#footer{
    background: yellow;
    grid-area: footer; 
}